<section class="hero">

	<!-- Old header -->
	<div class="container">
		<div class="row align-items-lg-center">
			<div class="col-lg-6">
				<h1 class="display-4 text-bold">
				
				Let’s make your projects a <span class="--highlight">success</span>.
				</h1>
				<p class="text-gray-soft text-regular">
					We are a software development and consulting company, that build and provide custom solutions for all size of companies.	
					We design, build, upgrade and maintain high-quality software and solutions with proven results.		
				</p>
				

				



			</div>
			<div class="col-lg-6 img-fluid d-none d-lg-block">
				<%= image_tag "hero/h1.png" %>
			</div>
		</div>
	</div>

</section>
